.columnAd {
    width: 300px;
    overflow: hidden;
    margin: auto;
    position: relative;
    text-align: center !important;
    padding: 0 !important;
    margin-bottom: 0em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    object, div {
        z-index: 3;
        width: 100% !important;
        display: block !important;
    }
}
.zergheadline {
    background-image: none !important;
}
.sumome-share-client-wrapper-left-page, .sumome-scrollbox-form, #sumome-scrollbox-form {
    display: none !important;
}
.socialShareButtons {
    position: relative !important;
    height: 50px;
    @media screen and (max-width:1000px) {
        display: none;
    }
    .sumome-share-client-wrapper {
        position: absolute !important;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap !important;
    }
}
.sumome-image-sharer {
    display: none !important;
}
.pageWrapper {
    padding: 1em;
}
#collection-56c368da9f7266b6a2b43218 {
    .sumome-share-client-wrapper {
        display: none !important;
    }
}