#categoryPageTop {
    margin-top: 40px;
    .sqs-col-4 {
        text-align: center;
    }
    .image-wrapper {
        margin-bottom: 20px;
    }
}
#darkWeb .header {
    text-transform: uppercase;
    font-family: 'Roboto Condensed',sans-serif !important;
    font-size: 3em;
    color: black;
    padding: 0.3em;
    text-align: center;
    margin: 0 auto;
}

.newsletter-form-wrapper {
    background: @darkGrey !important;
    border: 1px solid @primary;
    margin-top: 1em !important;
    h2 {
        color: @primary !important;
    }
}
#mc_embed_signup {
    max-width: 800px;
    margin: 0 auto;
    input[type=submit] {
        background: #11151C;
        border-radius: 2px;
        color: @primary;
        font-family: @mainFont;
    }
    input {
        background: @grey;
        border-radius: 2px;
        font-size: 1.4em;
    }
}
a {
    color: @link;
    &:hover {
        color: @highlight;
    }
}
.meta {
    color: @link;
    a {
        transition: 0.2s;
        color: @link;
        &:hover {
            color: @highlight;
        }
    }
}

.commentCount {
    position: absolute;
    top: 0;
    right: 0;
    color: @primary;
    a {
        border-radius: 0.5em;
        padding: 0.5em;
        background: rgba(10,10,10,0.8);
        color: @primary !important;
        font-size: 0.5em;
    }
}

#canvasWrapper{
  &.is-mobile{
     #content{
         //display:block !important;
     }
  }
  @media screen and (max-width:768px){
     #content{
       //display:none;
     }
  }
}

#content{
  @media screen and (max-width:768px){
    p{
      padding:10px;
    }
  }
  @media screen and (min-width:769px){
      margin-top:1em;
  }
}

.sqs-col-4, .sqs-col-8, .sqs-col-6, .sqs-col-3{
     @media screen and (max-width:768px){
       blockquote{
         padding:1em 1em!important;
       }
       figcaption{
         padding:0em 1em!important;
       }
       width:100% !important;
       img, .intrinsic{
         width:100% !important;
       }
    } 
}

.blog-post{
  iframe{
    width:100% !important;
    max-width:728px;
  }
}

#header{
 z-index:98;
}
.filter-tags{
  margin-top:1.5em;
  padding:1em;
  p{
    line-height:1em !important;
    margin:0.2em;
  }
}

#categories{
 padding-top:0.6em !important;
}

#categoryPageTop{
  min-width:300px;
  .sqs-block-code:nth-child(1){
    padding-top: 0.6em !important;
    padding-bottom: 0em !important;
  }
  margin-top:0;
  padding-top: 0em !important;
}

#collection-58d05a13d482e92f5e31c3a4{
  .commentCount{
    display:none;
  }
  .summary-item{
    border-bottom:none !important;
    box-shadow:none;
    img{
      transition:none !important;
      &:hover{
        transform:scale(1);
        
      }
    }
    min-height:10px !important;
    padding-bottom:0 !important;
  }
  .mobile-ad{
   text-align:center;
  }
  .sumome-share-client-wrapper{
    display:none;
  }
}

.sqs-search-page-result{
  .sqs-main-image-container{
    display:none;
  }
  .sqs-main-content{
    width:100%;
  }
}
