#collection-56c368da9f7266b6a2b43218 {
    #content {
        @media screen and (max-width:768px) {
            .summary-item {
                margin-bottom: 0 !important;
            }
            .sqs-col-12 > div:nth-child(3) {
                display: none;
            }
            .sqs-col-12 > div:nth-child(n+6) {
                display: none;
            }
        }
        .button.load-more{
            background:black;
            color:@primary;
            text-align: center;
            max-width: 200px;
            padding: 0.5em 1em;
            margin: 0 auto;
        }
        .categoryHeader {
            display:flex;
            align-items:center;
            &.custom-icon {
                .action {
                    .categoryLink {
                        top: 1em !important;
                    }
                }
            }
            .svg-icon {
                width: 50%;
                margin-right:0.25em;
                svg {
                    max-height: 50px;
                    fill: @highlight;
                }
            }
            .action {
                font-size: 1.8em;
                opacity: 1;
                .categoryLink {
                    margin-left:1em;
                    padding: 0em 1em;
                    font-family: @mainFont;
                    transition: 0.2s;
                    background: @darkGrey;
                    color: @primary;
                    border-radius: 2px;
                    &:hover {
                        background: @menu;
                    }
                }
            }
            .header {
                font-size: 1.8em;
                font-family: @mainFont;
                font-weight: 500;
                letter-spacing: 0.5px;
                i {
                    color: @highlight;
                }
            }
        }
    }
}